<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= debug @tweet %>

  <%= f.label :status %>:
  <%= f.text_field :status %><br>
	
	<%= f.label :zombie_id %>:
	<%= f.text_field :zombie_id %> <small>(zombie_id here)</small><br>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
