<%=debug session[:zombie_id] %>

<h1>Listing tweets by <%= link_to @zombie.name, zombie_path(@zombie)  %></h1>

<%= link_to "New Tweet by #{@zombie.name}", new_zombie_tweet_path %>

<table>
	
  <tr>
  	<th>Status</th>
  	<th>Length</th>
    <th colspan=3>Actions</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
  	<td><%= tweet.status %></td>
  	<td><%= tweet.status.length %></td>
    <td><%= link_to 'Show', [@zombie, tweet] %></td>
    <td><%= link_to 'Edit', edit_zombie_tweet_path(@zombie, tweet) %></td>
    <td><%= link_to 'Destroy', [@zombie, tweet], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

<% if @tweets.empty? %>
<em>No tweets found.</em>
<% end %>