%h1
  = link_to @tweet.zombie.name, zombie_path(@tweet.zombie)
  said...

%h2= @tweet.status
%h3= @tweet.created_at

= link_to 'Edit', edit_zombie_tweet_path(@zombie, @tweet)
|
= link_to 'Back', zombie_tweets_path